.App{
    display: flex;
    justify-content: center;
}

.watchWrap{
    background-image:url('./5054.png');
    background-position: center;
    border-radius: 800px;
    width: 780px;
    height: 780px;
    margin-top: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(182, 182, 182, 0.24);
    box-shadow:0px 0px 30px rgba(192, 192, 192, 0.39);

}

.blop{
    z-index: 10;
    width: 60px;
    height: 60px;
    border-radius: 300px;

    background-color: black;
}

.stick{
    display: flex;
   align-items: center;

    height: 3px;
   position: absolute;
}

.f{
    border-radius: 30px;
    background-color: #000000;
    height: 5px;
    width: 380px;
}

.s{
    height: 1px;
    width: 320px;
}
